body {
    background-color: black;
    font-family: 'Dosis', sans-serif;
}

h2 {
    color: cornflowerblue;
    margin-left: 5%;
}

h1 {
    color: white;
    font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 10px;
    text-align: center;
}

li {
    display: inline;
}

li a {
  display: inline-block;
  color: slategray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

h1 {
    display: inline;
    padding-right: 10px;
    font-size: 50px;
}

#my {
    font-weight: 600;
    margin-left: 35%;
}

#work {
    color: cornflowerblue;
}

header {
    background-color: ;
    width: 100%;
    border-bottom: solid lightgray;
    margin-bottom: 30px;
}

#bod {
    display: flex;
    flex-direction: row;
}

#res {
    width: 90vw;
    margin: 5%;
}